.container{
    padding: 0.2em;
}

.container.grid{
    width: 50%;
}

.container.list{
    width: 100%;
}

.box{
    width: 100%;
    height: 100%;
    display: flex;
    border: 2px rgb(116, 116, 116) solid;
    border-radius: 5px;
    font-size: 17px;
    transition: all 300ms ease-out;
    box-shadow: rgba(0, 0, 0, 0.137) 5px 0 5px ;
    align-items: center;
    cursor: pointer;
}

.thum{
    width: 40%;
    height: 100%;
}

.box:hover{
    transform: scale(1.02);
    
}


.text{
    display: flex;
    flex-direction: column;
    margin-left: 0.2rem;
}

.title{
    font-weight:600;
}

.channel_title{
    padding-top: 5px;
}

